unlisted
// this is unlisted btw

title Test Form With Group Instructions

language en

section(name='part-one')
  group(name='some-group' requires='???')
    instructions this group has instructions too!
    field(name='some-field' type='text')
      label Some field
      instructions
        p hello world

