title Заявка на государственную регистрацию обозначения в качестве товарного знака, знака обслуживания, коллективного знака в Российской Федерации

section(name='Заявитель')
  field(name='applicant-name' type='text') Наименование/Имя заявителя 
  field(name='applicant-post-code' type='text' optional)
    label Почтовый индекс 
  field(name='applicant-address' type='text')
    | Адрес заявителя

